* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root,
[data-theme="default"] {
    --primary-color: 245, 153, 176;
    --secondary-color: 79, 72, 173;
    --tertiary-color: 94, 100, 114;
    --warning-color: 213, 60, 60;
    --success-color: 106, 195, 89;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --switch-bg-color: 211, 211, 212;
    --switch-dot-color: var(--white);


    --box-shadow-dark: 0px 2px 10px rgba(0, 0, 0, 0.2);
    --header-color: rgba(var(--secondary-color), 0.3);

    --text-color: rgba(var(--tertiary-color), 1);
    --text-color-light: rgba(var(--tertiary-color), 0.5);

    --body-bg-color: rgba(var(--primary-color), 0.1);
    --list-bg-color: rgba(var(--secondary-color), 0.1);

    --border-color-light: rgba(var(--tertiary-color), 0.1);
}

[data-theme] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

[data-theme="dark"] {
    --secondary-color: 245, 153, 176;
    --primary-color: 79, 72, 173;
    --tertiary-color: 94, 100, 114;
    --warning-color: 172, 0, 0;
    --success-color: 3, 121, 113;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --switch-bg-color: var(--secondary-color);
    --switch-dot-color: var(--black);

    --box-shadow-dark: 0px 2px 10px rgba(0, 0, 0, 0.2);
    --header-color: rgba(var(--white), 1);

    --text-color: rgba(var(--black), 1);
    --text-color-light: rgba(var(--tertiary-color), 0.5);

    --body-bg-color: rgba(var(--primary-color), 0.8);
    --list-bg-color: rgba(var(--secondary-color), 0.8);

    --border-color-light: rgba(var(--white), 0.3);
}

.container {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: var(--bs-gutter-x, .5rem);
    padding-left: var(--bs-gutter-x, .5rem);
    margin: 0 auto;
    padding-top: calc(var(--bs-gutter-x) * 3);
}

@media (min-width: 36rem) {
    .container {
        max-width: 33.75rem;
    }
}

@media (min-width: 48rem) {
    .container {
        max-width: 45rem;
    }
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--header-color);
    font-size: 6rem;
    margin: 6rem 0 3rem;
}

form {
    box-shadow: var(--box-shadow-dark);
    width: 100%;
}

.input {
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input:focus,
a:focus {
    outline-color: var(--header-color);
}

.input::placeholder {
    color: var(--text-color-light);
}

.todos {
    background-color: var(--list-bg-color);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-top: 1px solid var(--border-color-light);
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;

}

.text {
    width: calc(100% - 6rem);
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    padding: 1rem 0;
    order: 2;
}

.delete,
.check {
    padding: 1rem;
    cursor: pointer;
}

.delete {
    visibility: hidden;
    display: none;
    order: 3;
}

.delete:hover {
    color: rgba(var(--warning-color), 1);
}

.check {
    order: 1;
    opacity: 0.2;
    transition: all 0.1s ease;
}

.check:hover {
    opacity: 1;
}

.fa-check-circle:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    transition: all 0.2s ease;
    position: relative;
    top: 1px;
    font-size: 1.75rem;
}

/* compelted state */
.completed .check {
    color: rgba(var(--success-color), 1);
    opacity: 1;
}

.completed .delete {
    visibility: visible;
    display: inline-block;
}

.completed .text {
    text-decoration: line-through;
}

small {
    color: var(--text-color-light);
    margin-top: 3rem;
    text-align: center;
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: rgba(var(--secondary-color), 1);
}

a,
p {
    color: var(--text-color);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.nav-link p {
    margin-right: 1rem;
}

.switch {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 50em;
    /* transition: all 0.2s ease-in; */
}

.switch-input {
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}

.switch-input,
.switch-label {
    position: absolute;
    left: 0;
    top: 0;
}

.switch-label {
    width: 100%;
    height: 100%;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(var(--switch-bg-color), 1);
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}

.switch-dot {
    position: absolute;
    background-color: rgba(var(--switch-dot-color), 1);
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: var(--box-shadow-dark);
    transition: all 0.4s ease;
    left: 27%;
    transform: translateX(-50%);
}

.switch-input:checked+.switch-label+.switch-dot {
    left: 75%;
}